/* Aqui começa o responsivo da pagina de contato */

@media (max-width: 815px) {
    
    #header {
      padding: 10px;
    }
    
    .caixa {
      padding: 20px;
    }
    
    .redes {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }

    #rodape{
        display: none;
    }

}

/* Aqui termina o reponsivo da pagina de contato */