/* Aqui começa o responsivo da pagina de contato */

@media (max-width: 815px) {
    
    #header {
      padding: 10px;
    }
    
    .caixa {
      padding: 20px;
    }
    
    .redes {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }

    #rodape{
        display: none;
    }

}

/* Aqui termina o reponsivo da pagina de contato */

/* Aqui começa o responsivo da pagina de cadastro */

@media(max-width: 630px){
    form.formAssinatura{
        size: 25px;
    }
}

/* Aqui termina o responsivo da pagina de cadastro */